<footer class="site-footer">
  <div class="container">
    <div class="footer-top">
      &copy; {{ "now" | date: "%Y" }} {{ site.title }}
    </div>
    <div class="footer-bottom">
      <a href="https://github.com/{{ site.github_username }}" target="_blank" rel="noopener">
        <span class="icon-github" aria-hidden="true"></span> GitHub
      </a> ·
      <a href="mailto:{{ site.email }}">
        <span class="icon-email" aria-hidden="true"></span> Email
      </a> ·
      jenwils@uw.edu
      <!-- <a href="/about/">
        <span class="icon-info" aria-hidden="true"></span> About
      </a> -->
      <a href="https://www.linkedin.com/in/{{ site.linkedin_username }}" target="_blank" rel="noopener">
        <!-- <img src="https://img.shields.io/badge/JenWilson-0077B5?style=for-the-badge" alt="LinkedIn" style="height:1em; vertical-align:middle; margin-right:0.25rem;"> -->
        LinkedIn
      </a>
    </div>
    </div>
</footer>
